@model Market_Express.Web.ViewModels.Account.ProfileViewModel
@{
    ViewData["Title"] = "Mi Perfil";
}

<!-- ========================= SECTION PAGETOP ========================= -->
<section class="section-pagetop bg">
    <div class="container">
        <h2 class="title-page">Mi Perfil</h2>
    </div> <!-- container //  -->
</section>
<!-- ========================= SECTION INTRO END// ========================= -->
<!-- ========================= SECTION CONTENT ========================= -->
<section class="section-content padding-y">
    <div class="container">
        <div class="row">
            <aside class="col-md-2 mb-3">
                <div class="list-group" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                    <a class="list-group-item active" id="v-pills-acc-tab" data-toggle="pill" href="#v-pills-acc" role="tab" aria-controls="v-pills-home" aria-selected="true">Cuenta</a>
                    <a class="list-group-item" id="v-pills-add-tab" data-toggle="pill" href="#v-pills-add" role="tab" aria-controls="v-pills-profile" aria-selected="false">Direcciones</a>
                </div>
            </aside>
            <main class="col-md-10">
                <article class="card mb-3">
                    <div class="card-body">
                        <div class="tab-content" id="v-pills-tabContent">
                            <div class="tab-pane fade show active" id="v-pills-acc" role="tabpanel" aria-labelledby="v-pills-home-tab">
                                <div class="row">
                                    <div class="col-lg-8">
                                        <div class="py-1">
                                            <h5 class="d-inline">Datos Generales</h5>
                                            <i type="button" class="fas fa-info-circle text-primary" data-trigger="focus" tabindex="0" data-toggle="popover" title="Información" data-content="No puedes modificar tus datos, únicamente puedes modificar tu alias y contraseña. Si deseas modificar los demás datos debes solicitarlo al administrador."></i>
                                        </div>

                                        <hr />

                                        <dl class="row">
                                            <dt class="col-md-3">Nombre</dt>
                                            <dd class="col-md-9"><p>@Model.AppUser.Name</p></dd>
                                            <dt class="col-md-3">Alias</dt>
                                            <dd class="col-md-9"><p id="usrAlias">@(Model.AppUser.Alias ?? " ")</p></dd>
                                            <dt class="col-md-3">Cédula</dt>
                                            <dd class="col-md-9"><p>@Model.AppUser.Identification</p></dd>
                                            <dt class="col-md-3">Email</dt>
                                            <dd class="col-md-9"><p>@Model.AppUser.Email</p></dd>
                                            <dt class="col-md-3">Teléfono</dt>
                                            <dd class="col-md-9"><p>@Model.AppUser.Phone</p></dd>
                                            <dt class="col-md-3">Contraseña</dt>
                                            <dd class="col-md-9"><p>************</p></dd>
                                        </dl>
                                    </div>
                                    <div class="col-lg-4">
                                        <div class="py-1">
                                            <h5 class="d-inline">Gestión</h5>
                                        </div>

                                        <hr />

                                        <dl class="row">
                                            <dd class="col-12">
                                                <a href="#" data-toggle="modal" data-target="#modalChangePassword">Cambiar Contraseña</a>
                                            </dd>
                                            <dd class="col-12">
                                                <a href="#" id="btnChangeAlias" data-toggle="modal" data-target="#modalChangeAlias">Cambiar Alias</a>
                                            </dd>
                                        </dl>
                                    </div>
                                </div>

                            </div>
                            <div class="tab-pane fade" id="v-pills-add" role="tabpanel" aria-labelledby="v-pills-profile-tab">
                                <div class="row">
                                    <div class="col-lg-12" id="addressContainer">
                                        @{ await Html.RenderPartialAsync("_AddressManagementPartial", Model.Addresses); }
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </article>
            </main>
        </div>
    </div>
</section>
<!-- ========================= SECTION CONTENT END// ========================= -->
@*
    <section class="container">
        <div class="card">
            <div class="card-header bg-primary">
                <h4 class="text-white">Mi Perfil</h4>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-2">
                        <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                            <a class="nav-link active" id="v-pills-acc-tab" data-toggle="pill" href="#v-pills-acc" role="tab" aria-controls="v-pills-home" aria-selected="true">Cuenta</a>
                            <a class="nav-link" id="v-pills-add-tab" data-toggle="pill" href="#v-pills-add" role="tab" aria-controls="v-pills-profile" aria-selected="false">Direcciones</a>
                        </div>
                    </div>
                    <div class="col-md-10">
                        <div class="tab-content" id="v-pills-tabContent">
                            <div class="tab-pane fade show active" id="v-pills-acc" role="tabpanel" aria-labelledby="v-pills-home-tab">
                                <div class="row">
                                    <div class="col-lg-8">
                                        <div class="py-2">
                                            <h5 class="d-inline">Datos Generales</h5>
                                            <i type="button" class="fas fa-info-circle text-primary" data-trigger="focus" tabindex="0" data-toggle="popover" title="Información" data-content="No puedes modificar tus datos, únicamente puedes modificar tu alias y contraseña. Si deseas modificar los demás datos debes solicitarlo al administrador."></i>
                                        </div>
                                        <dl class="row">
                                            <dt class="col-md-3">Nombre</dt>
                                            <dd class="col-md-9"><p>@Model.AppUser.Name</p></dd>
                                            <dt class="col-md-3">Alias</dt>
                                            <dd class="col-md-9"><p id="usrAlias">@(Model.AppUser.Alias ?? " ")</p></dd>
                                            <dt class="col-md-3">Cédula</dt>
                                            <dd class="col-md-9"><p>@Model.AppUser.Identification</p></dd>
                                            <dt class="col-md-3">Email</dt>
                                            <dd class="col-md-9"><p>@Model.AppUser.Email</p></dd>
                                            <dt class="col-md-3">Teléfono</dt>
                                            <dd class="col-md-9"><p>@Model.AppUser.Phone</p></dd>
                                            <dt class="col-md-3">Contraseña</dt>
                                            <dd class="col-md-9"><p>************</p></dd>
                                        </dl>
                                    </div>
                                    <div class="col-lg-4">
                                        <h5 class="mt-2">Gestión</h5>
                                        <dl class="row">
                                            <dd class="col-12">
                                                <a href="#" data-toggle="modal" data-target="#modalChangePassword">Cambiar Contraseña</a>
                                            </dd>
                                            <dd class="col-12">
                                                <a href="#" id="btnChangeAlias" data-toggle="modal" data-target="#modalChangeAlias">Cambiar Alias</a>
                                            </dd>
                                        </dl>
                                    </div>
                                </div>

                            </div>
                            <div class="tab-pane fade" id="v-pills-add" role="tabpanel" aria-labelledby="v-pills-profile-tab">
                                <div class="row">
                                    <div class="col-lg-12" id="addressContainer">
                                        @{ await Html.RenderPartialAsync("_AddressManagementPartial", Model.Addresses); }
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-footer">
                <div class="float-right">
                    <a asp-area="" asp-controller="Home" asp-action="Index" class="btn btn-secondary">Volver</a>
                </div>
            </div>
        </div>
    </section>
*@



<!--Modificar o Agregar Direccion-->
<div class="modal fade" id="modalAddress" tabindex="-1" aria-labelledby="modalAddressLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="lblAddressTitle">Agregar Dirección</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form action="#" id="frmAddress" method="post" data-mode="POST">
                    <input type="hidden" name="id" id="id" value="" />
                    <div class="form-group">
                        <label for="name" class="col-form-label">Nombre</label>
                        <input type="text" id="name" name="name" class="form-control" data-val="true" data-val-required="Este campo es obligatorio" maxlength="15" placeholder="Escribe el nombre de la dirección">
                        <span class="field-validation-valid text-danger" data-valmsg-for="name" data-valmsg-replace="true"></span>

                    </div>
                    <div class="form-group">
                        <label for="detail" class="col-form-label">Detalle</label>
                        <textarea name="detail" class="form-control" data-val="true" data-val-required="Este campo es obligatorio" maxlength="255" id="detail" placeholder="Escribe el detalle de la dirección" style="resize: none;"></textarea>
                        <span class="field-validation-valid text-danger" data-valmsg-for="detail" data-valmsg-replace="true"></span>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                <button type="submit" class="btn btn-primary" form="frmAddress">Guardar</button>
            </div>
        </div>
    </div>
</div>




<!--Cambiar contraseña-->
<div class="modal fade" id="modalChangePassword" tabindex="-1" aria-labelledby="modalChangePasswordLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Cambiar Contraseña</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form asp-area="" asp-controller="Account" asp-action="ChangePassword" id="frmChangePass" method="post">
                    <div class="form-group">
                        <label for="currentPass" class="col-form-label">Contraseña Actual</label>
                        <input type="password" id="currentPass" name="currentPass" class="form-control" data-val="true" data-val-required="Este campo es obligatorio" maxlength="40" placeholder="Escribe tu contraseña actual">
                        <span class="field-validation-valid text-danger" data-valmsg-for="currentPass" data-valmsg-replace="true"></span>

                    </div>
                    <div class="form-group">
                        <label for="newPass" class="col-form-label" data-val-equalto="Las contraseñas no coinciden" data-val-equalto-other="newPassConfirmation">Contraseña Nueva</label>
                        <input type="password" name="newPass" class="form-control" data-val="true" data-val-required="Este campo es obligatorio" maxlength="40" id="newPass" placeholder="Escribe tu nueva contraseña">
                        <span class="field-validation-valid text-danger" data-valmsg-for="newPass" data-valmsg-replace="true"></span>
                    </div>
                    <div class="form-group">
                        <label for="newPassConfirmation" class="col-form-label">Confirmar Contraseña</label>
                        <input type="password" name="newPassConfirmation" class="form-control" data-val="true" data-val-equalto="Las contraseñas no coinciden" data-val-equalto-other="newPass" data-val-required="Este campo es obligatorio" maxlength="40" id="newPassConfirmation" placeholder="Confirma tu nueva contraseña">
                        <span class="field-validation-valid text-danger" data-valmsg-for="newPassConfirmation" data-valmsg-replace="true"></span>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                <button type="submit" class="btn btn-primary" form="frmChangePass">Cambiar</button>
            </div>
        </div>
    </div>
</div>


<!--Cambiar Alias-->
<div class="modal fade" id="modalChangeAlias" tabindex="-1" aria-labelledby="modalChangeAliasLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Cambiar Alias</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form asp-area="" asp-controller="Account" asp-action="ChangeAlias" id="frmChangeAlias" method="post">
                    <div class="form-group">
                        <label for="currentPass" class="col-form-label">Alias</label>
                        <input type="text" id="txtAlias" name="alias" class="form-control" data-val="true" data-val-required="Este campo es obligatorio" maxlength="10" placeholder="Escribe un nuevo Alias">
                        <span class="field-validation-valid text-danger" data-valmsg-for="alias" data-valmsg-replace="true"></span>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                <button type="submit" class="btn btn-primary" form="frmChangeAlias">Cambiar</button>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }

    <script src="~/js/profile.js"></script>
}
