<!DOCTYPE HTML>
<html lang="es">

<head>
    <meta charset="utf-8">
    <meta http-equiv="pragma" content="no-cache" />
    <meta http-equiv="cache-control" content="max-age=604800" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Market Express - @ViewData["Title"]</title>


    <!-- Bootstrap 4-->
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />

    <!-- Font Awesome 5 -->
    <link href="~/lib/fontawesome/css/all.min.css" type="text/css" rel="stylesheet">

    <!-- Custom Style -->
    <link href="~/css/ui.css" rel="stylesheet" type="text/css" />
    <link href="~/css/responsive.css" rel="stylesheet" media="only screen and (max-width: 1200px)" />
    <link href="~/css/site.css" rel="stylesheet" />


</head>


<body>
    <header>
        <img src="~/img/logo.png" class="logo" width="200"  />
    </header>

    <section class="mt-4">
        <h4>@ViewData["Title"]</h4>
    </section>

    <main role="main" class="mt-3">
        @RenderBody()
    </main>

    <footer class="section-footer border-top">
        <div class="container">

            <section class="footer-bottom border-top row">
                <div class="col-12">
                    <span class="text-muted">&copy 2021 Market Express </span>
                    <div class="float-right">
                        <p class="text-muted my-0 py-0">Total de Registros: @(ViewData["Reg"] ?? 0) </p>
                        <p class="text-muted my-0 py-0">Generado el @DateTimeUtility.NowCostaRica.ToShortDateString()</p>
                    </div>
                </div>
            </section>
        </div>

    </footer>
</body>

</html>