@model Market_Express.Web.ViewModels.Article.ArticleIndexViewModel

<table class="table table-hover table-sm table-responsive-lg">
    <thead class="">
        <tr class="small text-uppercase font-weight-bold">
            <td>Descripción</td>
            <td>Código Barras</td>
            <td>Precio</td>
            <td>Categoría</td>
            <td>Estado</td>
            <td class="text-center" style="width: 10%;">Acciones</td>
        </tr>
    </thead>
    <tbody>
        @if (Model?.Articles?.Count > 0)
        {
            @foreach (var article in Model.Articles)
            {
                <tr>
                    <td><p class="text-capitalize-first">@article.Description</p></td>
                    <td><p class="">@article.BarCode</p></td>
                    <td><p class="">₡@article.Price</p></td>
                    @if (article.Category.Name != null)
                    {
                        <td data-field="Category"><p class="text-capitalize-first">@article.Category.Name</p></td>
                    }
                    else
                    {
                        <td data-field="Category" data-id="art-@article.Id">
                            <a href="#" 
                               type="button" 
                               data-toggle="modal" 
                               data-id="@article.Id" 
                               data-description="@article.Description"
                               data-target="#modalChangeCategory"
                               class="text-danger">
                                Sin Categoría
                            </a>
                        </td>
                    }
                    <td data-field="Status"><p class="text-capitalize-first">@article.Status.ToString()</p></td>
                    <td class="text-center">
                        <div class="row no-gutters">
                            <div class="col-xl-4">
                                <a class="btn btn-sm btn-success"
                                   asp-area="Admin"
                                   asp-controller="Article"
                                   asp-action="Details"
                                   asp-route-id="@article.Id"
                                   title="Detalles">
                                    <i class="fas fa-list-alt"></i>
                                </a>
                            </div>

                            <div class="col-xl-4">
                                <a class="btn btn-sm btn-success mt-xl-0 mt-1 "
                                   asp-area="Admin"
                                   asp-controller="Article"
                                   asp-action="Edit"
                                   asp-route-id="@article.Id"
                                   title="Editar">
                                    <i class="fas fa-pen"></i>
                                </a>
                            </div>
                            <div class="col-xl-4">
                                <button data-id="@article.Id"
                                        class="btn btn-sm @(article.Status == EntityStatus.ACTIVADO ? "btn-success" : "btn-danger") mt-xl-0 mt-1"
                                        title="@(article.Status == EntityStatus.ACTIVADO ? "Desactivar" : "Activar")">
                                    <i class="fas fa-power-off"></i>
                                </button>
                            </div>
                        </div>
                    </td>
                </tr>
            }
        }
        else
        {
            <tr>
                <td colspan="6"><p class="text-danger text-center">Sin resultados de busqueda.</p></td>
            </tr>
        }
    </tbody>
</table>

@if (Model?.Articles?.Count > 0)
{
    <div>
        @{ await Html.RenderPartialAsync("_PaginationButtonsPartial", Model.Metadata); }
    </div>
}



<div class="modal fade" id="modalChangeCategory" tabindex="-1" role="dialog" aria-labelledby="modalChangeCategoryTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalTitle">Seleccionar Categoría</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="frmChangeCategory" asp-area="Admin" asp-controller="Article" asp-action="SetCategory" method="post">
                    <input type="hidden" name="articleId" id="hdId" />
                    <div class="form-group">
                        <span id="modalArticleDescription"></span>
                        <hr />
                    </div>
                    
                    <div class="form-group">
                        <label class="col-form-label font-weight-bold">Categoría</label>
                        <select asp-items="@(new SelectList(Model.AvailableCategories,"Id", "Name"))"
                                name="categoryId"
                                class="form-control">
                        </select>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                <button type="submit" class="btn btn-primary" form="frmChangeCategory">Guardar</button>
            </div>
        </div>
    </div>
</div>


