@model Market_Express.Web.ViewModels.Article.ArticleEditViewModel
@{
    ViewData["Title"] = "Editar Artículo";
    string src = Model.Article.Image != null
        ? @Url.Action("GetImage", "Resource", new { area = "", n = Model.Article.Image })
        : "/img/NotAvailable.png";
}

<!-- ========================= SECTION PAGETOP ========================= -->
<section class="section-pagetop bg">
    <div class="container">
        <h2 class="title-page font-weight-bold">Artículos</h2>
        <nav>
            <ol class="breadcrumb text-white">
                <li class="breadcrumb-item"><a asp-area="" asp-controller="Home" asp-action="Index">Inicio</a></li>
                <li class="breadcrumb-item"><a asp-area="Admin" asp-controller="Article" asp-action="Index">Artículos</a></li>
                <li class="breadcrumb-item active" aria-current="page">Editar</li>
            </ol>
        </nav>
    </div>
</section>
<!-- ========================= SECTION INTRO END// ========================= -->

<section class="section-content padding-y">
    <div class="container">
        <div class="card">
            <div class="card-header bg-primary">
                <h4 class="text-white">Editar</h4>
            </div>
            <div class="card-body">
                <form enctype="multipart/form-data" asp-Area="Admin" asp-controller="Article" asp-action="Edit" id="frm" method="post" class="row">
                    <input type="hidden" asp-for="Article.Id" />
                    <input type="hidden" asp-for="Article.Image" />
                    <input type="hidden" asp-for="Article.AddedBy" />

                    <div class="col-md-5">
                        <div class="form-group">
                            <label asp-for="Article.Description" class="col-form-label">Descripción</label>
                            <textarea asp-for="Article.Description" class="form-control" placeholder="Escribe la descripción del artículo" style="resize: none;"></textarea>
                            <span asp-validation-for="Article.Description" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Article.BarCode" class="col-form-label">Código de Barras</label>
                            <input type="text" asp-for="Article.BarCode" class="form-control" placeholder="Ingresa el codigo del artículo">
                            <span asp-validation-for="Article.BarCode" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Article.Price" class="col-form-label">Precio</label>
                            <input type="text" onkeypress="return valideKey(event);" asp-for="Article.Price" class="form-control" placeholder="Escribe el precio del artículo">
                            <span asp-validation-for="Article.Price" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Article.CategoryId" class="col-form-label">Categoría</label>
                            <select asp-for="Article.CategoryId"
                                    asp-items="@(new SelectList(Model.AvailableCategories,"Id", "Name"))"
                                    class="form-control">
                            </select>
                            <span asp-validation-for="Article.CategoryId" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Article.NewImage" class="col-form-label">Imagen</label>
                            <input type="file" asp-for="Article.NewImage" class="form-control-file" id="NewImage" />
                            <span asp-validation-for="Article.NewImage" class="text-danger"></span>
                        </div>
                        @if (Model.Article.AddedBy == "SYSTEM")
                        {
                            <div class="form-group">
                                <label asp-for="Article.AutoSync" class="col-form-label">
                                    <input type="checkbox" asp-for="Article.AutoSync" />
                                    Se Sincroniza Automáticamente
                                </label>
                                <span asp-validation-for="Article.AutoSync" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Article.AutoSyncDescription" class="col-form-label">
                                    <input type="checkbox" asp-for="Article.AutoSyncDescription" />
                                    Sincroniza Descripción Automáticamente
                                </label>
                                <span asp-validation-for="Article.AutoSyncDescription" class="text-danger"></span>
                            </div>
                        }
                        <div class="form-group">
                            <label asp-for="Article.Status" class="col-form-label">Estado</label>
                            <select asp-for="Article.Status"
                                    asp-items="@Html.GetEnumSelectList<EntityStatus>()"
                                    class="form-control">
                            </select>
                            <span asp-validation-for="Article.Status" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-7">
                        <div class="form-group">
                            <figure>
                                <img src="@src" id="ImagePreview" class="img-fluid img-thumbnail" />
                                <figcaption>Imagen Actual</figcaption>
                            </figure>
                        </div>
                    </div>
                </form>
            </div>
            <div class="card-footer">
                <div class="float-right">
                    <a asp-area="Admin" asp-controller="Article" asp-action="Index" class="btn btn-secondary">Volver</a>
                    <button type="submit" class="btn btn-primary" form="frm" id="btnSubmit">Guardar</button>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="section-name bg padding-y">
    <div class="container">
        @if (!(Model.Article.AddedBy == "SYSTEM"))
        {
            <h6>Notas</h6>
            <p>
                • Este artículo no está registrado en el sistema POS.
            </p>
        }
        else
        {
            <h6>Nota</h6>
        }

        <p class="text-justify">
            • No es recomendable editar artículos desde Market Express, ya que esto podría generar artículos con códigos de barra duplicados debido a las sincronizaciones automáticas realizadas con el sistema POS.
        </p>

    </div><!-- container // -->
</section>

@section Scripts{
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }

    <script src="~/js/article.edit.js"></script>
    <script src="~/js/formSubmitDelay.js"></script>

    @if (ViewData["MessageResult"] != null)
    {
        <script>
            popUp(false, '@ViewData["MessageResult"].ToString()');
        </script>
    }
}