@model Market_Express.Web.ViewModels.Article.ArticleIndexViewModel
@{
    ViewData["Title"] = "Artículos";
}

<!-- ========================= SECTION PAGETOP ========================= -->
<section class="section-pagetop bg">
    <div class="container">
        <h2 class="title-page font-weight-bold">Artículos</h2>
        <nav>
            <ol class="breadcrumb text-white">
                <li class="breadcrumb-item"><a asp-area="" asp-controller="Home" asp-action="Index">Inicio</a></li>
                <li class="breadcrumb-item active" aria-current="page">Artículos</li>
            </ol>
        </nav>
    </div>
</section>
<!-- ========================= SECTION INTRO END// ========================= -->

<section class="section-content padding-y">
    <div class="container">

        @if (TempData["ArticleMessage"] != null)
        {
            <div class="alert alert-dismissible fade show alert-success mb-3" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="alert-heading"><i class="fas fa-check"></i> Éxito!</h4>
                <p class="mb-0">
                    @TempData["ArticleMessage"].ToString()
                </p>
            </div>
        }

        <div class="card">
            <div class="card-header bg-primary">
                <h4 class="text-white">Consulta de Artículos</h4>
            </div>
            <div class="card-body">

                <div class="mb-3">
                    <form asp-area="Admin" asp-controller="Article" asp-action="Index" method="post" class="row" id="frmTable">
                        <div class="col-md-3">
                            <div class="form-group">
                                <label class="font-weight-bold">Descripción</label>
                                <input type="text"
                                       asp-for="QueryFilter.Description"
                                       name="@nameof(Model.QueryFilter.Description)"
                                       class="form-control-original-small" />
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <div class="form-group">
                                    <label class="font-weight-bold">Código Barras</label>
                                    <input type="text"
                                           asp-for="QueryFilter.BarCode"
                                           name="@nameof(Model.QueryFilter.BarCode)" class="form-control-original-small" />
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label class="font-weight-bold">Categoría</label>
                                <select asp-for="QueryFilter.CategoryId"
                                        asp-items="@(new SelectList(Model.AvailableCategories,"Id", "Name"))"
                                        name="@nameof(Model.QueryFilter.CategoryId)"
                                        class="form-control-original-small">
                                    <option>TODOS</option>
                                    <option value="00000000-0000-0000-0000-000000000000">SIN CATEGORÍA</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label class="font-weight-bold">Estado</label>
                                <select asp-items="Html.GetEnumSelectList<EntityStatus>()"
                                        asp-for="QueryFilter.Status"
                                        name="@nameof(Model.QueryFilter.Status)"
                                        class="form-control-original-small">
                                    <option>TODOS</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label class="custom-control custom-checkbox font-weight-bold d-block">
                                    <input type="checkbox"
                                           asp-for="QueryFilter.ImgIsNull"
                                           name="@nameof(Model.QueryFilter.ImgIsNull)"
                                           class="custom-control-input" />
                                    <span class="custom-control-label">
                                        Sólo Artículos Sin Imagen
                                    </span>
                                </label>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="float-right" style=" width: 120px;">
                                <button class="btn btn-primary btn-block">Buscar</button>
                            </div>
                        </div>
                    </form>
                </div>

                <div id="divArticlesTable">
                    @{ await Html.RenderPartialAsync("_ArticleTablePartial", Model); }
                </div>

            </div>
            <div class="card-footer">
                <div class="float-right">
                    <a asp-area="" asp-controller="Home" asp-action="Index" class="btn btn-secondary">Volver</a>
                    <a asp-area="Admin" asp-controller="Article" asp-action="Create" class="btn btn-primary">Crear Nuevo</a>
                </div>
            </div>
        </div>
    </div>
</section>



<div class="modal fade" id="modalChangeCategory" tabindex="-1" role="dialog" aria-labelledby="modalChangeCategoryTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalTitle">Seleccionar Categoría</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="frmChangeCategory" asp-area="Admin" asp-controller="Article" asp-action="SetCategory" method="post">
                    <input type="hidden" name="articleId" id="hdId" />
                    <div class="form-group">
                        <span id="modalArticleDescription"></span>
                        <hr />
                    </div>

                    <div class="form-group">
                        <label class="col-form-label font-weight-bold">Categoría</label>
                        <select asp-items="@(new SelectList(Model.AvailableCategories,"Id", "Name"))"
                                name="categoryId"
                                class="form-control">
                        </select>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                <button type="submit" class="btn btn-primary" form="frmChangeCategory">Guardar</button>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script src="~/js/article/article.index.js"></script>

}

