@model Market_Express.Web.ViewModels.Home.HomeSearchViewModel
@{
    ViewData["Title"] = "Resultado de Busqueda";
}

<!-- ========================= SECTION PAGETOP ========================= -->
<section class="section-pagetop bg">
    <div class="container">
        <h2 class="title-page font-weight-bold">Buscar Artículos</h2>
        <nav>
            <ol class="breadcrumb text-white">
                <li class="breadcrumb-item"><a asp-area="" asp-controller="Home" asp-action="Index">Inicio</a></li>
                <li class="breadcrumb-item active" aria-current="page">Buscar Artículos</li>
            </ol>
        </nav>
    </div>
</section>
<!-- ========================= SECTION INTRO END// ========================= -->
<!-- ========================= SECTION CONTENT ========================= -->
<section class="section-content padding-y">
    <div class="container">

        <div class="row">
            <aside class="col-md-3">

                <div class="card">
                    <form asp-area="" asp-controller="Home" asp-action="Index" method="get">
                        <input type="hidden" name="isSearchView" value="true" />
                        <article class="filter-group">
                            <header class="card-header">
                                <a href="#" data-toggle="collapse" data-target="#collapse_1" aria-expanded="true" class="">
                                    <i class="icon-control fa fa-chevron-down"></i>
                                    <h6 class="title">Artículo</h6>
                                </a>
                            </header>
                            <div class="filter-content collapse show" id="collapse_1" style="">
                                <div class="card-body">
                                    <div class="input-group">
                                        <input asp-for="Filters.Query"
                                               name="query"
                                               type="text"
                                               class="form-control-original"
                                               placeholder="Buscar">
                                        <div class="input-group-append">
                                            <button class="btn btn-primary" type="submit"><i class="fa fa-search"></i></button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </article>

                        <article class="filter-group">
                            <header class="card-header">
                                <a href="#" data-toggle="collapse" data-target="#collapse_2" aria-expanded="true" class="">
                                    <i class="icon-control fa fa-chevron-down"></i>
                                    <h6 class="title">Categorías</h6>
                                </a>
                            </header>
                            <div class="filter-content collapse show" id="collapse_2" style="">
                                <div class="card-body">
                                    @{
                                        string sChecked = "";

                                        @if (Model.Filters.Category != null && Model.Categories != null)
                                        {
                                            @if (Model.Filters.Category.Count == Model.Categories.Count)
                                            {
                                                sChecked = "checked";
                                            }
                                        }
                                    }
                                    <label class="custom-control custom-checkbox">
                                        <input type="checkbox"
                                               class="custom-control-input"
                                               id="chkAllCategory"
                                               @sChecked />
                                        <span class="custom-control-label">Todas las categorías</span>
                                    </label>
                                    @foreach (var category in Model.Categories)
                                    {
                                        sChecked = "";

                                        <label class="custom-control custom-checkbox">
                                            @if (Model?.Filters?.Category != null)
                                            {
                                                @foreach (Guid id in Model.Filters.Category)
                                                {
                                                    if (category.Id == id)
                                                    {
                                                        sChecked = "checked";
                                                        break;
                                                    }
                                                }
                                            }
                                            <input name="category"
                                                   type="checkbox"
                                                   value="@category.Id"
                                                   class="custom-control-input"
                                                   @sChecked />

                                            <span class="custom-control-label">
                                                @category.Name
                                                <b class="badge badge-pill badge-light float-right">@category.ArticlesCount</b>
                                            </span>
                                        </label>
                                    }
                                </div> <!-- card-body.// -->
                            </div>
                        </article> <!-- filter-group .// -->
                        <article class="filter-group">
                            <header class="card-header">
                                <a href="#" data-toggle="collapse" data-target="#collapse_3" aria-expanded="true" class="">
                                    <i class="icon-control fa fa-chevron-down"></i>
                                    <h6 class="title">Rango de Precios</h6>
                                </a>
                            </header>
                            <div class="filter-content collapse show" id="collapse_3" style="">
                                <div class="card-body">
                                    <div class="form-row">
                                        <div class="form-group col-md-6">
                                            <label>Min</label>
                                            <input asp-for="Filters.MinPrice"
                                                   name="minPrice"
                                                   class="form-control"
                                                   placeholder="₡0"
                                                   type="number" />
                                        </div>
                                        <div class="form-group text-right col-md-6">
                                            <label>Max</label>
                                            <input asp-for="Filters.MaxPrice"
                                                   name="maxPrice"
                                                   class="form-control"
                                                   placeholder="₡100000.00"
                                                   type="number" />
                                        </div>
                                    </div> <!-- form-row.// -->
                                    <button type="submit" class="btn btn-block btn-primary">Aplicar Filtros</button>
                                </div><!-- card-body.// -->
                            </div>
                        </article> <!-- filter-group .// -->
                    </form>
                </div> <!-- card.// -->

            </aside> <!-- col.// -->
            <main class="col-md-9">

                <header class="border-bottom mb-4 pb-3">
                    <div class="form-inline">
                        <span class="mr-md-auto">@Model.Articles.Count Artículos encontrados</span>
                        <select class="mr-2 form-control">
                            <option>Latest items</option>
                            <option>Trending</option>
                            <option>Most Popular</option>
                            <option>Cheapest</option>
                        </select>
                        <div class="btn-group">
                            <a href="#" class="btn btn-outline-secondary" data-toggle="tooltip" title="List view">
                                <i class="fa fa-bars"></i>
                            </a>
                            <a href="#" class="btn  btn-outline-secondary active" data-toggle="tooltip" title="Grid view">
                                <i class="fa fa-th"></i>
                            </a>
                        </div>
                    </div>
                </header><!-- sect-heading -->

                <div class="row">
                    @if (Model?.Articles?.Count > 0)
                    {
                        @foreach (var article in Model.Articles)
                        {
                            string src = article.Image != null
                            ? @Url.Action("GetImage", "Resource", new { area = "", n = article.Image })
                            : "/img/NotAvailable.png";

                            <div class="col-md-4">
                                <figure class="card card-product-grid">
                                    <div class="img-wrap">
                                        <img src="@src">
                                        <a class="btn-overlay" href="#"><i class="fa fa-search-plus"></i> Quick view</a>
                                    </div>
                                    <figcaption class="info-wrap">
                                        <div class="fix-height">
                                            <a href="#" class="title">@article.Description</a>
                                            <div class="price-wrap mt-2">
                                                <span class="price">₡@article.Price</span>
                                            </div>
                                        </div>
                                        <button class="btn btn-block btn-primary">Añadir al carrito </button>
                                    </figcaption>
                                </figure>
                            </div>
                        }

                        <nav class="mt-4" aria-label="Page navigation sample">
                            <ul class="pagination">
                                <li class="page-item disabled"><a class="page-link" href="#">Previous</a></li>
                                <li class="page-item active"><a class="page-link" href="#">1</a></li>
                                <li class="page-item"><a class="page-link" href="#">2</a></li>
                                <li class="page-item"><a class="page-link" href="#">3</a></li>
                                <li class="page-item"><a class="page-link" href="#">Next</a></li>
                            </ul>
                        </nav>
                    }
                    else
                    {
                        <div class="col-12">
                            <p class="text-center text-danger">Intenta con otros filtros</p>
                        </div>
                    }
                </div> <!-- row end.// -->
            </main> <!-- col.// -->
        </div>
    </div> <!-- container .//  -->
</section>
<!-- ========================= SECTION CONTENT END// ========================= -->




@section Scripts{
    <script src="~/js/home.search.js"></script>
}