@model Market_Express.Web.ViewModels.Role.RoleCreateViewModel
@{
    ViewData["Title"] = "Crear Rol";
}



<!-- ========================= SECTION PAGETOP ========================= -->
<section class="section-pagetop bg">
    <div class="container">
        <h2 class="title-page font-weight-bold">Roles y Permisos</h2>
        <nav>
            <ol class="breadcrumb text-white">
                <li class="breadcrumb-item"><a asp-area="" asp-controller="Home" asp-action="Index">Inicio</a></li>
                <li class="breadcrumb-item"><a asp-area="Admin" asp-controller="Role" asp-action="Index">Roles y Permisos</a></li>
                <li class="breadcrumb-item active" aria-current="page">Crear</li>
            </ol>
        </nav>
    </div>
</section>
<!-- ========================= SECTION INTRO END// ========================= -->

<section class="section-content padding-y">
    <div class="container">
        <div class="card">
            <div class="card-header bg-primary">
                <h4 class="text-white">Crear</h4>
            </div>
            <div class="card-body">
                <form asp-Area="Admin" asp-controller="Role" asp-action="Create" id="frm" method="post" class="row">
                    <div class="col-md-6">
                        <h4>Rol</h4>
                        <hr />

                        <div class="form-group">
                            <label asp-for="Role.Name" class="col-form-label">Nombre</label>
                            <input type="text"
                                   asp-for="Role.Name"
                                   name="name"
                                   class="form-control"
                                   placeholder="Escribe el nombre del rol">
                            <span asp-validation-for="Role.Name" data-valmsg-for="name" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Role.Description" class="col-form-label">Descripción</label>
                            <textarea asp-for="Role.Description"
                                      name="description"
                                      class="form-control"
                                      placeholder="Escribe la descripción del rol"
                                      style="resize: none;">
                            </textarea>
                            <span asp-validation-for="Role.Description" data-valmsg-for="description" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <h4>Permisos</h4>
                        <hr />
                        @foreach (string type in Model?.PermissionTypes)
                        {
                            string sChecked;

                            <div>
                                <h5 class="text-capitalize-first">@type</h5>
                                @foreach (var permission in Model.PermissionsAvailable)
                                {
                                    if (permission.Type == type)
                                    {
                                        if (Model.Role.Permissions.Any(idPermission => idPermission == permission.Id))
                                        {
                                            sChecked = "checked";
                                        }
                                        else
                                        {
                                            sChecked = "";
                                        }

                                        <label class="text-capitalize-first" type="button">
                                            @permission.Name
                                            <input type="checkbox"
                                                   value="@permission.Id"
                                                   name="permissions"
                                                   id=""
                                                   @sChecked />
                                        </label>

                                        <i type="button"
                                           class="fas fa-info-circle text-primary d-inline"
                                           data-trigger="focus"
                                           tabindex="0"
                                           data-toggle="popover"
                                           title="Información"
                                           data-content="@permission.Description">
                                        </i><br />
                                    }

                                }
                            </div>
                        }
                    </div>
                </form>

            </div>
            <div class="card-footer">
                <div class="float-right">
                    <a asp-area="Admin" asp-controller="Role" asp-action="Index" class="btn btn-secondary">Volver</a>
                    <button type="submit" class="btn btn-primary" form="frm" id="btnSubmit">Crear</button>
                </div>
            </div>
        </div>
    </div>
</section>

@section Scripts{
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }

    @*
        <script src="~/js/roleCreate.js"></script>
    *@

    @if (ViewData["MessageResult"] != null)
    {
        <script>
            popUp(false, '@ViewData["MessageResult"].ToString()');
        </script>
    }
}

