@model Market_Express.Web.ViewModels.Role.RoleDetailsViewModel
@{
    ViewData["Title"] = "Detailles Rol";
}


<!-- ========================= SECTION PAGETOP ========================= -->
<section class="section-pagetop bg">
    <div class="container">
        <h2 class="title-page font-weight-bold">Roles y Permisos</h2>
        <nav>
            <ol class="breadcrumb text-white">
                <li class="breadcrumb-item"><a asp-area="" asp-controller="Home" asp-action="Index">Inicio</a></li>
                <li class="breadcrumb-item"><a asp-area="Admin" asp-controller="Role" asp-action="Index">Roles y Permisos</a></li>
                <li class="breadcrumb-item active" aria-current="page">Detalles de Rol</li>
            </ol>
        </nav>
    </div>
</section>
<!-- ========================= SECTION INTRO END// ========================= -->

<section class="section-content padding-y">
    <div class="container">
        <div class="card">
            <div class="card-header bg-primary">
                <h4 class="text-white">Detalles de Rol</h4>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-6">
                        <h4>Rol</h4>
                        <hr />

                        <dl class="row">
                            <dt class="col-xl-4 pr-0">Nombre</dt>
                            <dd class="col-xl-8 px-xl-0"><p class="text-capitalize-first">@Model.Role.Name</p></dd>
                            <dt class="col-xl-4 pr-0">Descripción</dt>
                            <dd class="col-xl-8 px-xl-0"><p class="text-capitalize-first">@Model.Role.Description</p></dd>
                            <dt class="col-xl-4 pr-0">Usuarios Activados</dt>
                            <dd class="col-xl-8 px-xl-0"><p>@Model.ActiveUsersUsingThisRole</p></dd>
                            <dt class="col-xl-4 pr-0">Usuarios Desactivados</dt>
                            <dd class="col-xl-8 px-xl-0"><p>@Model.DisabledUsersUsingThisRole</p></dd>
                            <dt class="col-xl-4 pr-0">Total Usuarios</dt>
                            <dd class="col-xl-8 px-xl-0"><p>@Model.UsersUsingThisRoleCount</p></dd>
                        </dl>

                    </div>
                    <div class="col-md-6">
                        <h4>Permisos</h4>
                        <hr />
                        @foreach (string type in Model?.PermissionTypes)
                        {
                            @if (!Model.Role.Permissions.Any(per => per.Type == type))
                            {
                                continue;
                            }
                            <div>
                                <h5 class="text-capitalize-first">@type</h5>
                                @foreach (var permission in Model.PermissionsAvailable)
                                {
                                    <ul>
                                        @if (permission.Type == type)
                                        {
                                            <li>
                                                <p class="text-capitalize-first">
                                                    @permission.Name
                                                <i type="button"
                                                   class="fas fa-info-circle text-primary d-inline"
                                                   data-trigger="focus"
                                                   tabindex="0"
                                                   data-toggle="popover"
                                                   title="Información"
                                                   data-content="@permission.Description">
                                                </i>
                                            </p>

                                        </li>
                                    }
                                    </ul>
                                }
                            </div>
                        }
                    </div>
                </div>
            </div>
            <div class="card-footer">
                <div class="float-right">
                    <a asp-area="Admin" asp-controller="Role" asp-action="Index" class="btn btn-secondary">Volver</a>
                    <a asp-area="Admin" asp-controller="Role" asp-action="Edit" asp-route-id="@Model.Role.Id" type="submit" class="btn btn-success">Editar</a>
                </div>
            </div>
        </div>
    </div>
</section>

@section Scripts{
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }

    @if (ViewData["MessageResult"] != null)
    {
        <script>
            popUp(false, '@ViewData["MessageResult"].ToString()');
        </script>
    }
}


