@model Market_Express.Application.DTOs.AppUser.AppUserDetailsDTO
@{
    ViewData["Title"] = "Detalles de Usuario";

}


<!-- ========================= SECTION PAGETOP ========================= -->
<section class="section-pagetop bg">
    <div class="container">
        <h2 class="title-page font-weight-bold">Usuarios</h2>
        <nav>
            <ol class="breadcrumb text-white">
                <li class="breadcrumb-item"><a asp-area="" asp-controller="Home" asp-action="Index">Inicio</a></li>
                <li class="breadcrumb-item"><a asp-area="Admin" asp-controller="Users" asp-action="Index">Usuarios</a></li>
                <li class="breadcrumb-item active" aria-current="page">Detalles de Usuario</li>
            </ol>
        </nav>
    </div>
</section>
<!-- ========================= SECTION INTRO END// ========================= -->

<section class="section-content padding-y">
    <div class="container">
        <div class="card">
            <div class="card-header bg-primary">
                <h4 class="text-white">Detalles de Usuario</h4>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-6">
                        <dl class="row">
                            <dt class="col-xl-4 pr-0">Nombre</dt>
                            <dd class="col-xl-8 px-xl-0"><p>@Model.Name</p></dd>
                            <dt class="col-xl-4 pr-0">Alias</dt>
                            <dd class="col-xl-8 px-xl-0"><p>@Model.Alias</p></dd>
                            <dt class="col-xl-4 pr-0">Identificación</dt>
                            <dd class="col-xl-8 px-xl-0"><p>@Model.Identification</p></dd>
                            <dt class="col-xl-4 pr-0">Correo Electrónico</dt>
                            <dd class="col-xl-8 px-xl-0"><p>@Model.Email</p></dd>
                            <dt class="col-xl-4 pr-0">Teléfono</dt>
                            <dd class="col-xl-8 px-xl-0"><p>@Model.Phone</p></dd>
                            <dt class="col-xl-4 pr-0">Tipo</dt>
                            <dd class="col-xl-8 px-xl-0"><p>@Model.Type.ToString()</p></dd>
                            <dt class="col-xl-4 pr-0">Estado</dt>
                            <dd class="col-xl-8 px-xl-0"><p>@Model.Status.ToString()</p></dd>
                        </dl>
                    </div>
                    @if (Model.Type == AppUserType.ADMINISTRADOR)
                    {
                        <div class="col-md-6">
                            <h4>Roles</h4>
                            <hr />
                            @if (Model.Roles.Count > 0)
                            {
                                <ul>
                                    @foreach (var role in Model.Roles)
                                    {
                                        <li>
                                            <p class="text-capitalize-first">
                                                @role.Name
                                                <i type="button"
                                                   class="fas fa-info-circle text-primary d-inline"
                                                   data-trigger="focus"
                                                   tabindex="0"
                                                   data-toggle="popover"
                                                   title="Información"
                                                   data-content="@role.Description">
                                                </i>
                                            </p>
                                        </li>
                                    }
                                </ul>
                            }
                        </div>
                    }
                </div>
            </div>
            <div class="card-footer">
                <div class="float-right">
                    <a asp-area="Admin" asp-controller="Users" asp-action="Index" class="btn btn-secondary">Volver</a>
                    <a asp-area="Admin" asp-controller="Users" asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-success">Editar</a>
                </div>
            </div>
        </div>

    </div>
</section>

@if (!Model.IsInPOS)
{
    <section class="section-name bg padding-y">
        <div class="container">
            <h6>Nota</h6>
            <p class="text-justify">• Este usuario no está registrado como cliente en el sistema POS.</p>

        </div><!-- container // -->
    </section>
}

@section Scripts{
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }


}
