@model List<Market_Express.Application.DTOs.Order.RecentOrderDTO>

@if (Model?.Count > 0)
{
    @foreach (var item in Model.Select((order, i) => (order, i)))
    { 
        if (item.i < 6)
        {
            string src = item.order.MostRequestedArticleImage != null
                                    ? @Url.Action("GetImage", "Resource", new { area = "", n = item.order.MostRequestedArticleImage })
                                    : "/img/NotAvailable.png";

            <div class="col-md-4">
                <figure class="itemside  mb-3">
                    <a asp-area="Client"
                       asp-controller="Order"
                       asp-action="Details"
                       asp-route-id="@item.order.Id"
                       class="aside">
                        <img src="@src" class="border img-sm">
                    </a>
                    <figcaption class="info">
                        <time class="text-muted"><i class="fa fa-calendar-alt"></i> @item.order.CreationDate.ToShortDateString()</time>
                        <p>N° de Pedido: @item.order.OrderNumber</p>
                        <p class="text-warning">@item.order.Status.ToString().Capitalize()</p>
                    </figcaption>
                </figure>
            </div>
        }
        else
        {
            <div class="col-md-12">
                <a asp-area="Admin"
                   asp-controller="Order"
                   asp-action="Index"
                   asp-route-status="pendiente"
                   asp-route-tab="all"
                   class="btn btn-outline-primary">Ver Todos</a>
            </div>

            break;
        }
    }
}
else
{
    <div class="col-md-12">
        <p class="text-success text-center">No hay pedidos pendientes.</p>
    </div>
}
