@model List<Market_Express.Application.DTOs.Order.RecentOrderDTO>

@if (Model?.Count > 0)
{
    @foreach (var order in Model)
    {
        string textClass = "text-primary";

        if (order.Status == OrderStatus.PENDIENTE)
        {
            textClass = "text-warning";
        }
        else if (order.Status == OrderStatus.CANCELADO)
        {
            textClass = "text-danger";
        }

        string src = order.MostRequestedArticleImage != null
                                    ? @Url.Action("GetImage", "Resource", new { area = "", n = order.MostRequestedArticleImage })
                                    : "/img/NotAvailable.png";

        <div class="col-md-4">
            <figure class="itemside  mb-3">
                <a asp-area="Client"
                    asp-controller="Order"
                    asp-action="Details"
                    asp-route-id="@order.Id"
                    class="aside">
                    <img src="@src" class="border img-sm">
                </a>
                <figcaption class="info">
                    <time class="text-muted"><i class="fa fa-calendar-alt"></i> @order.CreationDate.ToShortDateString()</time>
                    <p>N° de Pedido: @order.OrderNumber</p>
                    <p class="@textClass">@order.Status.ToString().Capitalize()</p>
                </figcaption>
            </figure>
        </div>
    }
}
else
{
    <div class="col-md-12">
        <p class="text-danger text-center">No hay pedidos recientes.</p>
    </div>
}
