@model Market_Express.Web.ViewModels.Order.AdminOrderIndexViewModel

<table class="table table-sm table-hover table-responsive w-100 d-block d-md-table">
    <thead>
        <tr class="small text-uppercase font-weight-bold">
            <th>Número de Pedido</th>
            <th>Fecha de Pedido</th>
            <th>Cliente</th>
            <th>Estado</th>
            <th>Total</th>
            <th class="text-center">Opciones</th>
        </tr>
    </thead>
    <tbody>
        @if (Model?.Orders?.Count > 0)
        {
            foreach (var order in Model.Orders)
            {
                string textClass = "text-danger";

                if (order.Status == OrderStatus.PENDIENTE)
                {
                    textClass = "text-warning";
                }
                else if (order.Status == OrderStatus.TERMINADO)
                {
                    textClass = "text-success";
                }

                <tr>
                    <td>@order.OrderNumber</td>
                    <td>@order.CreationDate.ToShortDateString()</td>
                    <td>@order.Client.AppUser.Name.Capitalize()</td>
                    <td class="text-capitalize-first @textClass">@order.Status.ToString()</td>
                    <td>₡@order.Total</td>
                    <td class="text-center">
                        <a asp-area="Admin"
                           asp-controller="Order"
                           asp-action="Details"
                           asp-route-id="@order.Id"
                           class="btn btn-success btn-sm text-white"
                           title="Detalles">
                            <i class="fas fa-list-alt"></i>
                        </a>
                    </td>
                </tr>
            }
        }
        else
        {
            <tr>
                <td colspan="6">
                    <p class="text-center text-danger">No hay registro de pedidos.</p>
                </td>
            </tr>
        }
    </tbody>
</table>

@if (Model?.Orders?.Count > 0)
{
    <div>
        @{ await Html.RenderPartialAsync("_PaginationButtonsPartial", Model.Metadata); }
    </div>
}