@model Market_Express.Web.ViewModels.Order.OrderAdminDetailsViewModel
@{
    ViewData["Title"] = "Detalles Pedido";

    string statusCssClass = "text-warning";

    if (Model.Order.Status == OrderStatus.TERMINADO)
    {
        statusCssClass = "text-success";
    }
    else if (Model.Order.Status == OrderStatus.CANCELADO)
    {
        statusCssClass = "text-danger";
    }
}

<section class="section-pagetop bg">
    <div class="container">
        <h2 class="title-page font-weight-bold">Pedidos</h2>
        <nav>
            <ol class="breadcrumb text-white">
                <li class="breadcrumb-item"><a asp-area="" asp-controller="Home" asp-action="Index">Inicio</a></li>
                <li class="breadcrumb-item"><a asp-area="Admin" asp-controller="Order" asp-action="Index">Pedidos</a></li>
                <li class="breadcrumb-item active" aria-current="page">@Model.Order.OrderNumber</li>
            </ol>
        </nav>
    </div>
</section>




<!-- ========================= SECTION CONTENT ========================= -->
<section class="section-content padding-y">
    <div class="container">
        <div class="row">
            <main class="col-md-12">
                <article class="card mb-3">
                    <div class="card-header bg-blue">
                        <h4 class="text-white">Pedido @Model.Order.OrderNumber</h4>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-8">
                                <dl class="row">
                                    <dt class="col-xl-4 pr-0">Fecha</dt>
                                    <dd class="col-xl-8 px-xl-0"><p>@Model.Order.CreationDate</p></dd>
                                    <dt class="col-xl-4 pr-0">Estado</dt>
                                    <dd class="col-xl-8 px-xl-0" id="ddStatus"><p class="@statusCssClass">@Model.Order.Status.ToString().Capitalize()</p></dd>
                                    <dt class="col-xl-4 pr-0">Dirección de Envío</dt>
                                    <dd class="col-xl-8 px-xl-0"><p>@Model.Order.ShippingAddress.Capitalize()</p></dd>
                                </dl>
                            </div>

                            <div class="col-md-4 d-flex mt-2 mb-md-0" id="divButton">
                                @if (Model.Order.Status == OrderStatus.PENDIENTE)
                                {
                                    <div class="align-self-center mx-auto" align="center">
                                        <button class="btn btn-primary btn-lg"
                                                id="btnSetFinished"
                                                data-order-id="@Model.Order.Id">
                                            Marcar Como Terminado
                                        </button>
                                    </div>
                                }
                            </div>

                            <div class="col-12"><hr /></div>

                            <div class="col-8">
                                <dl class="row">
                                    <dt class="col-xl-4 pr-0">Cliente</dt>
                                    <dd class="col-xl-8 px-xl-0">
                                        <a asp-area="Admin"
                                           asp-controller="Users"
                                           asp-action="Details"
                                           asp-route-id="@Model.Order.Client.AppUser.Id">
                                            @Model.Order.Client.AppUser.Name
                                        </a>
                                    </dd>
                                    <dt class="col-xl-4 pr-0">Identificación</dt>
                                    <dd class="col-xl-8 px-xl-0"><p>@Model.Order.Client.AppUser.Identification</p></dd>
                                    <dt class="col-xl-4 pr-0">Teléfono</dt>
                                    <dd class="col-xl-8 px-xl-0"><p>@Model.Order.Client.AppUser.Phone</p></dd>
                                    <dt class="col-xl-4 pr-0">Código de Cliente</dt>
                                    <dd class="col-xl-8 px-xl-0"><p>@(Model.Order.Client.ClientCode ?? "No es cliente del POS")</p></dd>
                                </dl>
                            </div>

                        </div>
                    </div>
                </article>

                <article class="card  mb-3">
                    <div class="card-header bg-blue">
                        <h4 class="card-title text-white">Artículos del Pedido</h4>
                    </div>
                    <div class="card-body">
                        <table class="table table-sm table-shopping-cart table-responsive">
                            <thead class="text-muted">
                                <tr class="small text-uppercase">
                                    <th style="width: 40%;">Artículo</th>
                                    <th style="width: 20%;">Código</th>
                                    <th style="width: 20%;" class="text-center">Cantidad</th>
                                    <th style="width: 20%;" class="text-center">Precio Unitario</th>
                                    <th style="width: 20%;" class="text-right">Total</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var detail in Model.Details)
                                {
                                    <tr>
                                        <td>
                                            <a asp-area="Admin"
                                               asp-controller="Article"
                                               asp-action="Details"
                                               asp-route-id="@detail.Id">
                                                @detail.Description
                                            </a>
                                        </td>
                                        <td>@detail.BarCode</td>
                                        <td class="text-center">@((int)detail.Quantity)</td>
                                        <td class="text-center">₡@((int)detail.Price)</td>
                                        <td class="text-right">₡@((int)detail.Total)</td>
                                    </tr>
                                }
                                <tr>
                                    <td colspan="5" class="font-weight-bold"><span class="float-right">₡@((int)Model.Order.Total)</span></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </article>
            </main>
        </div>
    </div>
</section>
<!-- ========================= SECTION CONTENT END// ========================= -->

@section Scripts{
    <script src="~/js/order.admin.view.js"></script>
}