@model Market_Express.Web.ViewModels.Order.AdminOrderIndexViewModel
@{
    ViewData["Title"] = "Pedidos";
}


<!-- ========================= SECTION PAGETOP ========================= -->
<section class="section-pagetop bg">
    <div class="container">
        <h2 class="title-page font-weight-bold">Pedidos</h2>
        <nav>
            <ol class="breadcrumb text-white">
                <li class="breadcrumb-item"><a asp-area="" asp-controller="Home" asp-action="Index">Inicio</a></li>
                <li class="breadcrumb-item active" aria-current="page">Pedidos</li>
            </ol>
        </nav>
    </div>
</section>
<!-- ========================= SECTION INTRO END// ========================= -->

<section class="section-content padding-y">
    <div class="container">

        <div class="row">
            <aside class="col-md-2 mb-3">
                <div class="list-group" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                    <a class="list-group-item @(Model?.Filters?.Tab?.Trim().ToLower() == "all" ? "" : "active")" id="v-pills-re-tab" data-toggle="pill" href="#v-pills-re" role="tab" aria-controls="v-pills-re" aria-selected="true">Resumen</a>
                    <a class="list-group-item @(Model?.Filters?.Tab?.Trim().ToLower() == "all" ? "active" : "")" id="v-pills-od-tab" data-toggle="pill" href="#v-pills-od" role="tab" aria-controls="v-pills-od" aria-selected="false">Todos los Pedidos</a>
                </div>
            </aside>
            <main class="col-md-10">

                <div class="tab-content" id="v-pills-tabContent">
                    <div class="tab-pane fade @(Model?.Filters?.Tab?.Trim().ToLower() == "all" ? "" : "show active")" id="v-pills-re" role="tabpanel" aria-labelledby="v-pills-re-tab">
                        <div class="card mb-3">
                            <div class="card-header bg-blue">
                                <h4 class="text-white">Resumen</h4>
                            </div>
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-md-4 d-flex mb-3 mb-md-0">
                                    </div>
                                    <div class="col-md-8" id="divOrderStats">
                                        @{ await Html.RenderPartialAsync("_OrderStatsPartial", Model.OrderStats); }
                                    </div>
                                </div>
                                <hr />
                                <div id="divMostRecentPendingOrders">
                                    @{ await Html.RenderPartialAsync("_RecentPendingOrdersPartial", Model.RecentPendingOrders); }
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="tab-pane fade @(Model?.Filters?.Tab?.Trim().ToLower() == "all" ? "show active" : "")" id="v-pills-od" role="tabpanel" aria-labelledby="v-pills-od-tab">
                        <div class="card mb-3">
                            <div class="card-header bg-blue">
                                <h4 class="text-white">Todos los Pedidos</h4>
                            </div>
                            <div class="card-body">
                                <form asp-area="Admin" asp-controller="Order" asp-action="Index" asp-route-tab="all" method="get" class="row" id="frmTable">
                                    <input type="hidden" name="tab" value="all" />
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label class="font-weight-bold">Cliente</label>
                                            <input type="text"
                                                   asp-for="Filters.ClientName"
                                                   name="clientName"
                                                   class="form-control-original-small" />
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label class="font-weight-bold">Estado</label>
                                            <select asp-items="Html.GetEnumSelectList<OrderStatus>()"
                                                    asp-for="Filters.Status"
                                                    name="status"
                                                    class="form-control-original-small">
                                                <option>TODOS</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label class="font-weight-bold">Fecha Inicial</label>
                                            <input type="date"
                                                   asp-for="Filters.StartDate"
                                                   name="startDate"
                                                   class="form-control-original-small" />
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label class="font-weight-bold">Fecha Final</label>
                                            <input type="date"
                                                   asp-for="Filters.EndDate"
                                                   name="endDate"
                                                   class="form-control-original-small" />
                                        </div>
                                    </div>

                                    <div class="col-12 mb-3">
                                        <div class="float-right" style=" width: 120px;">
                                            <button class="btn btn-primary btn-block">Buscar</button>
                                        </div>
                                    </div>
                                </form>
                                <div id="divTableAllOrders">
                                    @{ await Html.RenderPartialAsync("_OrdersTablePartial", Model); }
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

            </main>
        </div>
    </div>
</section>

<div class="modal fade" id="modalChangeStatus" tabindex="-1" role="dialog" aria-labelledby="modalChangeStatusTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalTitle">Cambiar Estado</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="frmChangeStatus" asp-area="Admin" asp-controller="Order" asp-action="ChangeStatus" method="post">
                    <input type="hidden" name="orderId" id="hdId" />
                    <div class="form-group">
                        <p>Número de Pedido: <span id="modalOrderNumber"></span></p>
                        <hr />
                    </div>

                    <div class="form-group">
                        <label class="col-form-label font-weight-bold">Estado</label>
                        <select asp-items="@Html.GetEnumSelectList<OrderStatus>()"
                                name="status"
                                class="form-control"
                                id="slStatus">
                        </select>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                <button type="submit" class="btn btn-primary" form="frmChangeStatus">Guardar</button>
            </div>
        </div>
    </div>
</div>


@section Scripts{

    <script src="~/js/order.admin.index.js"></script>
}

