@model Market_Express.Web.ViewModels.BinnacleAccess.AccessReportViewModel
@{
    ViewData["Title"] = "Reporte de Accesos y Salidas de Usuarios del Sistema";
    Layout = "_ReportLayout";
}

@{
    string sUser = Model?.Filters?.User != null ? Model.Filters.User : "Todos los usuarios";
    dynamic dStartDate = Model?.Filters?.StartDate != null ? Model.Filters.StartDate.Value.ToShortDateString() : "Todas las fechas";
    dynamic dEndDate = Model?.Filters?.EndDate != null ? Model.Filters.EndDate.Value.ToShortDateString() : "Todas las fechas";
}


<p><strong>Usuario: @sUser</strong> </p>
<p><strong>Rango de Fecha Inicial: </strong> @dStartDate</p>
<p><strong>Rango de Fecha Final: </strong> @dEndDate</p>

<table class="table table-sm">
    <thead class="bg-blue text-white">
        <tr>
            <th class="text-center">Usuario</th>
            <th class="text-center">Identificación</th>
            <th class="text-center">Fecha y Hora Ingreso</th>
            <th class="text-center">Fecha y Hora de Salida</th>
        </tr>
    </thead>
    <tbody>
        @if (Model?.BinnaclesAccesses?.Count > 0)
        {
            @foreach (var access in Model?.BinnaclesAccesses)
            {
                dynamic dExitDate = access.ExitDate.HasValue
                    ? access.ExitDate
                    : "No Registrado";

                <tr>
                    <td style="line-height: 2em;">@access.AppUser.Name.Capitalize()</td>
                    <td style="line-height: 2em; text-align: center;">@access.AppUser.Identification</td>
                    <td style="line-height: 2em; text-align: center;">@access.EntryDate</td>
                    <td style="line-height: 2em; text-align: center;">@dExitDate</td>
                </tr>
            }
        }
        else
        {
            <tr>
                <td colspan="4">
                    <p style="text-align:center;">No hay registros.</p>
                </td>
            </tr>
        }
    </tbody>
</table>





