@model Market_Express.Web.ViewModels.BinnacleMovement.MovementReportViewModel
@{
    ViewData["Title"] = "Reporte de Movimientos de Usuarios del Sistema";
    Layout = "_ReportLayout";
}

@{
    string sIgnoreSystem = "Si";
    string sEjec = Model?.Filters?.User != null ? Model.Filters.User.Capitalize() : "Todos los usuarios";
    dynamic dStartDate = Model?.Filters?.StartDate != null ? Model.Filters.StartDate.Value.ToShortDateString() : "Todas las fechas";
    dynamic dEndDate = Model?.Filters?.EndDate != null ? Model.Filters.EndDate.Value.ToShortDateString() : "Todas las fechas";
    string sType = Model?.Filters?.Type != null ? Model.Filters.Type.Value.ToString() : "Todos";

    if (Model.Filters.IgnoreSystem)
    {
        sIgnoreSystem = "No";
    }
    else
    {
        @if (Model.Filters.User != null)
        {
            if (Model.Filters.User != "SYSTEM")
            {
                sIgnoreSystem = "No";
            }
        }
    }
}


<p><strong>Ejecutante: </strong> @sEjec</p>
<p><strong>Incluye Movimientos Hechos por el Sistema: </strong> @sIgnoreSystem</p>
<p><strong>Rango de Fecha Inicial: </strong> @dStartDate</p>
<p><strong>Rango de Fecha Final: </strong> @dEndDate</p>
<p><strong>Tipo de Movimiento: </strong> @sType</p>

<div>
    <table class="table table-sm" style="table-layout: fixed;">
        <thead class="bg-blue text-white">
            <tr>
                <th>Ejecutante</th>
                <th>Identificación</th>
                <th>Fecha</th>
                <th>Tipo</th>
                <th>Detalle</th>
            </tr>
        </thead>
        <tbody>
            @if (Model?.BinnacleMovements?.Count > 0)
            {
                @foreach (var movement in Model?.BinnacleMovements)
                {
                    <tr>
                        <td>@movement.PerformedBy</td>
                        <td>@movement.AppUser.Identification</td>
                        <td>@movement.MovementDate</td>
                        <td>@movement.Type</td>
                        <td>@movement.Detail.Trim()</td>
                    </tr>
                }
            }
            else
            {
                <tr>
                    <td colspan="5">
                        <p style="text-align:center;">No hay registros.</p>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>




