@model List<Market_Express.Application.DTOs.Slider.SliderDTO>
@using Market_Express.Domain.Enumerations
@{
    ViewData["Title"] = "Sliders";
}


<!-- ========================= SECTION PAGETOP ========================= -->
<section class="section-pagetop bg">
    <div class="container">
        <h2 class="title-page font-weight-bold">Sliders</h2>
        <nav>
            <ol class="breadcrumb text-white">
                <li class="breadcrumb-item"><a asp-area="" asp-controller="Home" asp-action="Index">Inicio</a></li>
                <li class="breadcrumb-item active" aria-current="page">Sliders</li>
            </ol>
        </nav>
    </div>
</section>
<!-- ========================= SECTION INTRO END// ========================= -->

<!-- ========================= SECTION CONTENT ========================= -->

<section class="section-content padding-y">
    <div class="container">
        @if (TempData["SliderMessage"] != null)
        {
            <div class="alert alert-dismissible fade show alert-success mb-3" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="alert-heading"><i class="fas fa-check"></i> Éxito!</h4>
                <p class="mb-0">
                    @TempData["SliderMessage"].ToString()
                </p>
            </div>
        }

        <div class="card">
            <div class="card-header bg-primary">
                <h4 class="text-white">Gestionar</h4>
            </div>
            <div class="card-body">
                <div class="row align-items-strech">
                    @if (Model.Count > 0)
                    {
                        @foreach (var slider in Model)
                        {
                            string active = slider.Status == EntityStatus.ACTIVADO ? "success" : "danger";

                            <div class="col-md-3 mb-3 d-flex justify-content-center">
                                <div class="card" style="width: 18rem;">
                                    <img src="@Url.Action("GetImage","Resource",new { area = "", n = slider.Image })" class="card-img-top" alt="">
                                    <div class="card-body h-100">
                                        <h5 class="card-title">@slider.Name</h5>
                                    </div>
                                    <div class="card-footer mt-auto">
                                        <div class="text-center">
                                            <a asp-area="Admin" asp-controller="Slider" asp-action="Edit" asp-route-id="@slider.Id" class="btn btn-sm btn-success"><i class="fas fa-pen"></i></a>
                                            <button data-id="@slider.Id" class="btn btn-sm btn-@active ml-2" id="btnChangeStatus"><i class="fas fa-power-off"></i></button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                    }
                    else
                    {
                        <div class="col-12">

                            <p class="text-danger text-center">No hay sliders disponibles.</p>
                        </div>
                    }
                </div>
            </div>
            <div class="card-footer">
                <div class="float-right">
                    <a asp-area="" asp-controller="Home" asp-action="Index" class="btn btn-secondary">Volver</a>
                    <a asp-area="Admin" asp-controller="Slider" asp-action="Create" class="btn btn-primary">Crear Nuevo</a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ========================= SECTION CONTENT END// ========================= -->



@section Scripts{

    <script src="~/js/sliderIndex.js"></script>
}